.imageCards {
  cursor: pointer;
}

.loaderStyles {
  position: relative;
  left: 50%;
}

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagesRow {
  margin-top: 56px !important;
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
